<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Subjects List</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Subjects List</h1>
<a href="addTERSubject">Add Subject</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Teacher First Name</th>
      <th>Teacher Last Name</th>
      <th>Subject Title</th>
    </tr>
    <tr th:each ="terSubject : ${terSubjects}">
      <td th:utext="${terSubject.teacher.firstName}">...</td>
      <td th:utext="${terSubject.teacher.lastName}">...</td>
      <td th:utext="${terSubject.title}">...</td>

      <td><a th:href="@{/showTERSubjectUpdateForm/{id}(id=${terSubject.id})}">Update</a>
        <a th:href="@{/deleteTERSubject/{id}(id=${terSubject.id})}">Delete</a></td>
    </tr>
  </table>
</div>
</body>
</html>